main {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

main button {
    border: none;
    outline: none;
    padding: 12px 30px;
    background-color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
}


button:hover {
    background-color: #6b0000;
    color: white;
}

.row-flex {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
}

.fixed {
    table-layout: fixed;
}

table {
    width: 80%;
}
